# --- DATABASE CONFIG ---
DB_HOST=localhost
DB_PORT=5432
DB_NAME=os_land
DB_USERNAME=postgres
DB_PASSWORD=postgres

# --- FRONTEND CONFIG ---
# This is baked into the frontend build to tell it where the API is
VITE_API_URL=http://localhost:3000

# --- BACKEND CONFIG ---
# The port the NestJS container will listen on
PORT=3000

# Root User Credentials
ROOT_USER_NAME=Admin
EMAIL=admin@osland.com
PASSWORD=admin_password

# Auth
JWT_SECRET=super_secret_hvac_key
